@import "_colors.less";
@import "_variables.less";
@import "_fonts.less";
@import "_global.less";

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.navigation {
  ul {
    margin: 3em 0;
    display: flex;
    justify-content: space-around;
    li {
      font-size: 2.25rem;
      text-transform: uppercase;
    }
    button {
      font-size: 2.25rem;
      text-transform: uppercase;
      border: none;
      background: transparent;
      cursor: pointer;
      &:hover,
      &.active {
        font-weight: 700;
        color: @blue;
      }
    }
  }
}

.weather-cards {
  background: #fff;
  min-height: 880px;
  border-radius: @border-radius;
  box-shadow: @box-shadow;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  padding: 5px;
  position: relative;
  grid-template-areas:
    "Main Main Main Main"
    ". . . .";
  .main {
    grid-area: Main;
  }
  .weather-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: @light-blue;
    margin: 5px;
    h2 {
      text-align: center;
      font-size: 2.8rem;
      margin-bottom: 1em;
    }

    h3 {
      font-weight: 300;
      font-size: 4rem;
      margin: 0.5em 0 0;
    }
    &:first-child {
      border-radius: @border-radius @border-radius 0 0;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      align-items: flex-start;
      svg {
        width: 150px;
        margin-right: 2em;
        margin-top: 14px;
      }
      .loader svg {
        width: 50px;
        margin: 0;
      }
      h2 {
        flex: 1 1 100%;
        margin-bottom: 1em;
      }
      h3 {
        font-size: 8rem;
        margin: 0;
        span {
          display: block;
          font-size: 2.2rem;
          margin-top: -1.5em;
        }
      }
    }
    &:nth-child(2) {
      border-radius: 0 0 0 @border-radius;
    }
    &:last-child {
      border-radius: 0 0 @border-radius 0;
    }
  }
}

.weather-icon {
  width: 115px;
  g {
    path {
      fill: @dark-blue;
    }
  }
}

.loader {
  svg {
    width: 50px;
    margin: 0;
    animation: spinner 0.9s linear infinite;
  }
}

.loader,
.display-error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 660px) {
  .navigation ul {
    flex-direction: column;
    align-items: center;
    li {
      margin-bottom: 1em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .weather-cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "Main Main"
      ". ."
      ". .";
  }
  .weather-cards {
    .weather-card {
      &:first-child {
      }
      &:nth-child(2) {
        border-radius: 0;
      }
      &:last-child {
        border-radius: 0 0 @border-radius @border-radius;
      }
    }
  }
}
